html, body {
	margin: 0;
	padding: 0;
	font-family: "Titillium Web";
	text-align: center;
}
h1 {
	background-color: #f1b521;
	padding: 50px;
}

ul {
	list-style-type: none;
	padding: 0;
}
a {
	text-decoration: none;
}
#number {
	padding: 0;
}
#mega {
	width: 70%;
	height: auto;
	margin: 0 auto;
	
}
#left {
	height: auto;
	border-right: 1px solid black;
	float: left;
	width: 50%;
}
#right {
	height: auto;
	width: 49%;
	float: left;
}	

#message {
	background: red;
	margin-bottom: 20px;
}